/* RESET */
/*Palette: #391555, #712aaa, #9323af, #932396, #93237d, #932363, #93244b, #933e4b, #93564b*/

:root {
    --bg-color: #933e4b;
    --surface-color: #93564b    ;
    --primary-color: #712aaa;
    --card-color: #93237d;
    --text-color: #391555;
    --secondary-text: #93244b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: var(--bg-color);
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    max-width: 1000px;
    margin: auto;
    padding: 80px 20px;
}

h2 {
    margin-bottom: 20px;
    color: var(--text-color);
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10%;
    position: sticky;
    top: 0;

    background: var(--surface-color)
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a:hover {
    color: var(--card-color);
}

/* HERO */

.hero {
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px;
}

.hero h1 {
    font-size: 4rem;
}

.hero p {
    margin: 20px 0;
    font-size: 1.2rem;
    color: var(--text-color);
}

.btn {
    display: inline-block;
    padding: 12px 24px;

    background: var(--surface-color);
    color: var(--text-color);

    border-radius: 8px;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.9;
}

/* PROJECTS */

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: var(--card-color);
    padding: 20px;
    border-radius: 12px;

    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
}

.card a {
    display: inline-block;
    margin-top: 15px;
    color: var(--secondary-text);
}

/* SKILLS */

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    background: var(--card-color);
    padding: 10px 15px;
    border-radius: 999px;
}

/* CONTACT */

.socials {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.socials a {
    color: var(--secondary-text);
}

/* FOOTER */

footer {
    text-align: center;
    padding: 30px;
    color: #94a3b8;
}

/* MOBILE */

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

}